<% include header %>
<h3>Long is the new short...</h3>
<input type="text" class="form-control" value="<%= hashedUrl %>">
<br><br>
<small>Length changed from <b><%= url.length %></b> to <b><%= hashedUrl.length %></b>.</small>
<% include footer %>