<% include header %>
<h3>Short is so last season...</h3>
<form method="post" action="create">
    <input text="" name="url" class="form-control" placeholder="Enter a url to shorten">
    <br><br>
    <button class="btn btn-primary">Get Long URL</button>
</form>
<% include footer %>