<% include header %>
<% if(err==='bad_url'){ %>
    <div class="error">please enter a valid url</div>
<% } %>
<h3>Short is so last season...</h3>
<form method="post" action="create">
    <input text="" name="url" class="form-control" placeholder="Enter a url" maxlength="1000">
    <br><br>
    <button class="btn btn-primary">Get Longer URL</button>
</form>
<% include footer %>