.content-row{
    padding: 0;
    margin-top: 200px;
}

.content-row .col-md-4{
    height: 180px;
    padding: 0;
    background: #DDDDDD;
    border: 2px dashed #8888FF;
    border-radius: 10px;
}

.content-row input{
    display: inline-block;
    width: 90%;
}
h1.my-title{
    width: 100%;
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-size: 60px;
    position: absolute;
    background: #EEEEEE;
    height: 105px;
    top: 20px;
    padding: 16px 0 20px 0;
}
h3{
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
}

@media only screen and (max-width: 900px) {
    h1.my-title{
        font-size: 50px;
        height: 90px;
    }
}

@media only screen and (max-width: 600px) {
    h1.my-title{
        font-size: 25px;
        height: 50px;
    }
}